// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
.cursor{
    cursor: pointer;
}

.tableColored:nth-child(odd){
    background: #F7FAFC;
}

.origin{
    transform-origin: 12px 12px;
}

.hideRow{
    display: none;
}

[x-cloak] {
    display: none;
}

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import "~select2";

@import '~@ttskch/select2-bootstrap4-theme/dist/select2-bootstrap4.css';

@import "~tailwindcss/base";

@import "~tailwindcss/components";

@import "~tailwindcss/utilities";
